@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
     --bg-color: rgb(0, 153, 255);
    --second-bg-color: #012b46;
    --cadet-blue-crayola: hsl(240, 32%, 69%);
    --orange-soda: hsl(7, 96%, 61%);
    --fiery-rose: hsl(353, 83%, 65%);
    --white: hsl(0, 0%, 100%);


    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    --fs-1: 3.5rem;
    --fs-3: 3.4rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.3rem;
    /*radius*/

    --radius-5: 5px;
    --radius-10: 10px;
    --radius-15: 15px;
    --radius-20: 20px;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
.header {
    padding: 20px 10%;
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100%;
}

#head {
    font-size: 30px;
    color: rgb(144, 0, 255);
}

.navbar a {
    padding-left: 40px;
    margin-left: 35px;
    font-weight: 500;
    font-size: 20px;
    transition: .3s;
    color: beige;
}

.navbar a:hover {
    color: rgb(176, 64, 44);
}
.image1 img{
    width: 350px;
    height: 350px;
    border-radius: 50% 50%;
    float: right;
    margin-top: 7%;
    margin-right: 14%;
    border: 5px solid black
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 30px;
    max-width: 60rem;
    color: white;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 20%;
    text-shadow: #000000 1px 1px;
    font-family: 'Courier New', Courier, monospace;
}

.home-content p {
    width: 70%;
    color: wheat;
    margin-bottom: 10px;
}

span #a1 {
    font-family: 'Courier New';
    color: coral;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: -30px;
}

.home,
home-content #frontend {
    color: rgb(236, 246, 246);
}

.social-links {
    padding: 4%;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.256);
    margin: 0 20px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: hotpink;
    transition: all 0.5s ease;
}

.social-links a:hover {
    color: #1b2338;
    background-color: #ffffff;
}
.Copyright p{
    text-align: center;
    color: #7715a5;
    margin: none;
    margin-top: 13.3%;
    background-color: #437fc0;
}
/*skills*/
.skills .section-title {
    margin-block-end: 20px;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.skills .section-text {
    margin-block-end: 70px;
    color: blue;
    font-size: 18px;
    text-align: center;
}

.section-subtitle {
    text-align: center;
    color: red;
    font-size: 50px;
}

.skills-list {
    display: grid;
    gap: 25px;
}

.container #skills-list2 {
    margin-left: 55%;
    margin-top: -250px;
    margin-right: 13%;
}

.container #skills-list1 {
    margin-right: 55%;
    margin-left: 13%;
}

.skills-item .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 10px;
    padding: 20px;
}

.skills-title,
.skills-data {
    color: var(--white);
    font-size: var(--fs-6);
    font-family: var(--ff-barlow);
    font-weight: var(--fw-600);
}

.skills-progress-box {
    background-color: var(--white);
    height: 8px;
    border-radius: var(--radius-10);
}

.skills-progress {
    background-color: var(--orange-soda);
    height: 100%;
    border-radius: inherit;
}

.container {
    margin: 10%;
}

/*about us */


.about-wrapper {
    height: 100vh;
    text-align: center;
}

.about-img img {
    display: block;
    width: 200px;
}

.about-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.shadow {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.about-left-content h2 {
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #6a1692;
}

.about-left-content h3 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}

.icons {
    background: #04184e;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    border-radius: 0 0 12px 12px;
}

.icons li {
    list-style-type: none;
    background: #732f92;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.icons li:hover {
    background: #edffec;
    color: #000;
}

.about-right {
    background: #0b6c09;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
    color: #fff
}

.about-right h1 {
    font-size: 5rem;
    text-transform: uppercase;
}

.about-right h1 span {
    color: #5b117e;
}

.about-right h2 {
    font-weight: 600;
}

.about-btns {
    display: flex;
    margin: 2rem 0;
}

.btn {
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    color: #fff
}

.btn {
    background: hotpink;
    color: #fff;
    border-color: hotpink;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.btn.btn-white {
    transition: all 0.5s ease-in-out;
}

.btn.btn-white:hover {
    background: rgb(10, 125, 125);
    border-color: wheat;
    color: #fff;
}

.about-para p {
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
    margin-left: 15%;
    margin-right: 15%;
}

@media screen and (min-width: 992px) {
    .about-wrapper {
        grid-template-columns: repeat(2, 2fr);
        align-items: center;
    }

    .about-left {
        position: relative;
    }

    .about-left-content {
        position: absolute;
        width: 80%
    }
}